 .u-section-1 {
  background-image: url("images/nightmoon.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 384px;
}

.u-section-1 .u-text-1 {
  font-family: Oswald, sans-serif;
  margin: 84px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 37px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 42px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 70px;
    margin-right: 63px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 488px;
    margin-left: 479px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -491px;
  }
} .u-section-2 {
  background-image: url("images/nightmoon.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 418px;
}

.u-section-2 .u-text-1 {
  font-family: Oswald, sans-serif;
  margin: 84px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 37px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 42px auto 60px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  width: auto;
  text-align: center;
  margin: -136px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 488px;
    margin-left: 479px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -562px;
    margin-bottom: 0;
  }
}